html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: Arial;
}
body header, body .main-content {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  color: #7C7C7C;
  text-transform: uppercase;
}
header h1 {
  position: relative;
  font-size: 1.5em;
}
header .custom-underline:before {
  background-color: #7C7C7C;
}
header button {
  margin-left: 15px;
  padding: 5px 10px;
  border: 2px solid #7C7C7C;
  color: #7C7C7C;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.2s;
}
header button:hover {
  color: #FFFFFF;
  background-color: #ff3838;
  border-color: #ff3838;
}
header .active-button {
  color: #ff3838;
  border-color: #ff3838;
}

.custom-underline {
  position: relative;
}
.custom-underline:before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 30%;
  height: 2px;
}

.main-content .gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.main-content .gallery-wrapper .image-wrapper {
  position: relative;
  width: 25%;
  padding-top: 25%;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #7C7C7C inset, 0px 0px 0px 1px #7C7C7C;
  transition-duration: 0.3s;
}
.main-content .gallery-wrapper .image-wrapper .image-holder {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  cursor: pointer;
}
.main-content .gallery-wrapper .image-wrapper .image-holder img {
  height: 100%;
  filter: grayscale(100%);
  transition-duration: 0.3s;
}
.main-content .gallery-wrapper .image-wrapper:hover {
  box-shadow: 0px 0px 0px 1px #ff3838 inset, 0px 0px 0px 1px #ff3838;
  z-index: 100;
}
.main-content .gallery-wrapper .image-wrapper:hover .image-holder {
  background-color: #ff3838;
}
.main-content .gallery-wrapper .image-wrapper:hover .image-holder:before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 56, 56, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 3em;
  z-index: 150;
  transition-duration: 0.3s;
}

/*# sourceMappingURL=main.css.map */
